.modal {
  padding: 0 10px;
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  transition: visibility 0.3s, opacity 0.3s;
  opacity: 0;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-color: rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-size: 20px;
  padding: 16px 12px 16px;
  gap: 10px;
  letter-spacing: 0;
  line-height: 100%;
  font-size: 20px;
  font-style: normal;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 500;
  font-style: normal;
}

.modal__submit-btn {
  max-width: 156px;
  padding: 18px 58px;
  background-color: rgba(33, 33, 33, 1);
  line-height: 100%;
  font-size: 16px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__submit-btn {
    max-width: 100%;
  }
  .modal__close-btn {
    top: 16px;
    right: 12px;
  }
}
